.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card1-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-container1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card1-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1-text3 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card1-text5 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}

@media(max-width: 991px) {
  .blog-post-card1-image {
    height: 350px;
  }
}

.blog-post-card11-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card11-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card11-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card11-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card11-container1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card11-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card11-text3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11-text5 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11-text6 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card11-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card11-text7 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}

@media(max-width: 991px) {
  .blog-post-card11-image {
    height: 350px;
  }
}

.blog-post-card1111-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1111-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1111-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card1111-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1111-container1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1111-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card1111-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1111-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1111-text3 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1111-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1111-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card1111-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card1111-text5 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}

@media(max-width: 991px) {
  .blog-post-card1111-image {
    height: 350px;
  }
}

.blog-post-card11111-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card11111-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card11111-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card11111-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card11111-container1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card11111-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card11111-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11111-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11111-text5 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11111-text6 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11111-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card11111-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card11111-text7 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}

@media(max-width: 991px) {
  .blog-post-card11111-image {
    height: 350px;
  }
}

.guards-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.guards-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #080505;
}
.guards-navlink {
  display: contents;
}
.guards-text {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.guards-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.guards-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.guards-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.guards-burger-menu {
  display: none;
}
.guards-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.guards-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.guards-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.guards-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.guards-logo {
  height: 2rem;
}
.guards-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guards-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.guards-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.guards-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.guards-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.guards-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.guards-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.guards-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.guards-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.guards-login {
  margin-right: var(--dl-space-space-twounits);
}
.guards-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.guards-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.guards-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.guards-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.guards-navlink1 {
  color: #fff8f8;
  text-decoration: none;
}
.guards-text06 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.guards-text07 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
}
.guards-text08 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-space-space-twounits);
}
.guards-register1 {
  text-decoration: none;
}
.guards-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.guards-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.guards-link {
  display: contents;
}
.guards-component {
  text-decoration: none;
}
.guards-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.guards-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .guards-blog {
    flex-direction: column;
  }
  .guards-container2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .guards-container3 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .guards-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .guards-desktop-menu {
    display: none;
  }
  .guards-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .guards-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .guards-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guards-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guards-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guards-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .guards-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .guards-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .guards-mobile-menu {
    padding: 16px;
  }
  .guards-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
