 body {
            font-family: sans-serif;
            color: #4A4A4A;
            display: flex; 
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0; 
            padding: 0;
        }

        #background {
            background-image: url('login_img/background.jpg'); 
            background-repeat: no-repeat;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            filter: blur(5px);
        }

        #content {
            position: relative;
        }

        form {
            width: 350px;
            position: relative;
        }

        form .form-field {
            display: flex;
            margin-bottom: 1rem;
            position: relative;
        }

        form .form-field::before {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            content: " ";
        }



        form input {
            width: 100%;
            border-radius: 4px;
            border: none;
            padding: 0.9rem 0.7rem;
            font-size: 17px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            text-indent: 40px;
        }

        form .btn {
            border: none;
            margin: 0 auto;
            padding: 0.9rem 2.5rem;
            background-color: #47AB11;
            color: #fff;
            border-radius: 4px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            font-size: 17px;
        }