.app-component-container {
  width: 251px;
  height: 454px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.app-component-container1 {
  top: 152px;
  flex: 0 0 auto;
  right: 1px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.app-component-heading {
  top: 29px;
  right: -17px;
  width: 259px;
  height: 65px;
  position: absolute;
  font-size: 2em;
  align-self: center;
  text-align: center;
}
.app-component-container2 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 152px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.app-component-text {
  top: -48px;
  left: -176px;
  position: absolute;
  font-size: 30px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0px;
}
.app-component-container3 {
  flex: 0 0 auto;
  right: 1px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 1px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0px;
  justify-content: center;
}
.app-component-text1 {
  top: 310px;
  left: 73px;
  position: absolute;
  font-size: 30px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0px;
}
.app-component-text2 {
  left: 75px;
  bottom: 52px;
  position: absolute;
  font-size: 30px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0px;
}
.app-component-image {
  top: 0px;
  left: 37px;
  width: 166px;
  height: 183px;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 50%;
}

